* {
    box-sizing: border-box;
}

html {
    overscroll-behavior: none
}

.v-bottom-navigation__content {
    justify-content: space-around;
}

.v-bottom-navigation .v-bottom-navigation__content > .v-btn {
    min-width: unset;
    flex-grow: 1;
}

.v-date-picker-month__day--adjacent {
    display: none;
}

.v-sheet.v-date-picker {
    width: 100%;
    transform: translateY(-16px);
}

ul {
    list-style: inside;
}
